@model Model.EF.nguoidung
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listItems= new List<SelectListItem>();
       listItems.Add(new SelectListItem
            {
              Text = "Nam",
              Value = "1"
            });
       listItems.Add(new SelectListItem
            {
                Text = "Nữ",
                Value = "0"
            });
}
@section css {
    <link href="~/Assets/css/pages/register.css" rel="stylesheet" />
}
@section js {

}
<main>
    <section id="register-page">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-5">
                    <div class="images-sidebar">
                        <img src="~/Assets/media/gentle-man.png" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-register">
                        <h1>InsBook</h1>
                        <p>We love it cuz it's fake !</p>
                        <div class="register-form">
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.ho, new { @class = "form-control", @placeholder = "Họ", @autofocus = "autofocus" })
                                @Html.TextBoxFor(model => model.ten, new { @class = "form-control", @placeholder = "Tên", @autofocus = "autofocus" })
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email", @autofocus = "autofocus" })
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                @Html.PasswordFor(model => model.matkhau, new { @class = "form-control", @placeholder = "Mật khẩu", @autofocus = "autofocus" })
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                @Html.PasswordFor(model => model.mota, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu", @autofocus = "autofocus" })
                            </div>
                                <div class="form-row">
                                    <div class="input-group col-md-7">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-birthday-cake"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(model => model.ngaysinh, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu", @autofocus = "autofocus", @type="date" })
                                    </div>
                                    <div class="input-group col-md-5">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-venus-mars"></i>
                                            </div>
                                        </div>
                                        @Html.DropDownListFor(model => model.gioitinh, @listItems, new { @class = "form-control", @autofocus = "autofocus"})
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="">
                                    <label class="form-check-label" for="exampleCheck1">Đồng ý tuân theo 5 điều Bác Hồ dạy</label>
                                </div>
                                <button type="button" class="btn btn-block btn-primary">Đăng ký</button>
                            }
                            <form action="#" method="post" accept-charset="utf-8">
                            </form>
                        </div>
                    </div>
                    <div class="form-register-register">
                        <p>Bạn đã có tài khoản <a href="/Client/Login/Index" title="Chưa làm chức năng đăng nhập. Đề nghị sử dụng web khác !">Đăng nhập</a></p>
                    </div>
                    <div class="web-apps">
                        <h3>Tải ứng dụng</h3>
                        <div class="web-apps-thumbnai">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_vietnamese-vi.png/3025bd262cee.png" alt="">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_vietnamese-vi.png/c36c88b5a8dc.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </section>
</main>

