@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Nam",
        Value = "Nam"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Nữ",
        Value = "Nữ"
    });
}
@model InsBook.Areas.Client.Models.Register
@section css {
    <link href="~/Assets/css/pages/register.css" rel="stylesheet" />
}
<main>
    <section id="register-page">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-5">
                    <div class="images-sidebar">
                        <img src="~/Assets/media/gentle-man.png" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-register">
                        <h1>InsBook</h1>
                        <p>We love it cuz it's fake !</p>
                        <div class="register-form">
                            @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })*@
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user-tie"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(model => model.Ho, new { @class = "form-control", @placeholder = "Họ", @autofocus = "autofocus" })
                                    <span class="errors" id="check-Ho"><i class="fas fa-times"></i></span>
                                    @Html.TextBoxFor(model => model.Ten, new { @class = "form-control", @placeholder = "Tên", @autofocus = "autofocus" })
                                    <span class="errors" id="check-Ten"><i class="fas fa-times"></i></span>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autofocus = "autofocus" })
                                    <span class="errors" id="check-Email"><i class="fas fa-times"></i></span>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </div>
                                    </div>
                                    @Html.PasswordFor(model => model.Matkhau, new { @class = "form-control", @placeholder = "Mật khẩu", @autofocus = "autofocus" })
                                    <span class="errors" id="check-Matkhau"><i class="fas fa-times"></i></span>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </div>
                                    </div>
                                    @Html.PasswordFor(model => model.XacnhanMatkhau, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu", @autofocus = "autofocus" })
                                    <span class="errors" id="check-XacnhanMatkhau"><i class="fas fa-times"></i></span>
                                </div>
                                <div class="form-row">
                                    <div class="input-group col-md-7">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-birthday-cake"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(model => model.Ngaysinh, new { @class = "form-control", @autofocus = "autofocus", @type = "date" })
                                        <span class="errors" id="check-Ngaysinh"><i class="fas fa-times"></i></span>
                                    </div>
                                    <div class="input-group col-md-5">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-venus-mars"></i>
                                            </div>
                                        </div>
                                        @Html.DropDownListFor(model => model.Gioitinh, @listItems, new { @class = "form-control", @autofocus = "autofocus" })
                                        <span class="errors" id="check-Gioitinh"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkbox">
                                    <label class="form-check-label" for="exampleCheck1">Đồng ý những điều khoản của chúng tôi</label>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" id="submit">Đăng ký</button>
                            }
                        </div>
                    </div>
                    <div class="form-register-register">
                        <p>Bạn đã có tài khoản <a href="/Client/Login/Index" title="Chưa làm chức năng đăng nhập. Đề nghị sử dụng web khác !">Đăng nhập</a></p>
                    </div>
                    <div class="web-apps">
                        <h3>Tải ứng dụng</h3>
                        <div class="web-apps-thumbnai">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_vietnamese-vi.png/3025bd262cee.png" alt="">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_vietnamese-vi.png/c36c88b5a8dc.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </section>
</main>
@section js {
    <script src="~/Assets/javascript/Register.js"></script>
}