@{

    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link href="~/Assets/css/pages/user-info.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/header.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/footer.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <title>Personal Page</title>
</head>
<body>
    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/header.cshtml");
    }
    <main>
        <div id="user-infomation">
            <div class="container">
                <div class="user-info-title">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="user-ava">
                                <img src="~/Images/@Profile.anhdd" alt="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="user-description">
                                <div class="user-description-one">
                                    <h1 class="user-name">@Profile.tennguoidung</h1>
                                    <a href="/Client/Personal/ChangeGeneralInfor" title="Chỉnh sửa trang cá nhân" class="user-setting"><button type="button" class="btn btn-outline-primary">Chỉnh sửa trang cá nhân</button></a>
                                    <div class="account-setting">
                                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-cog fa-2x"></i></button></a>
                                    </div>
                                </div>
                                <ul class="user-description-two">
                                    <li>
                                        <span><span>@Profile.soluongbaiviet</span> bài viết</span>
                                    </li>
                                    <li>
                                        <span><span>@Profile.soluongbanbe</span> bạn bè</span>
                                    </li>
                                    <li>
                                        <span>Đang có <span>@Profile.soluongtheodoi</span> người dùng theo dõi</span>
                                    </li>
                                </ul>
                                <div class="user-description-three">
                                    @if (@Profile.bietdanh != null)
                                    {
                                        <h1>@Profile.bietdanh</h1>
                                    }
                                    @if (Profile.gioithieu != null)
                                    {
                                        <h1>@Profile.gioithieu</h1>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </main>

    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/footer.cshtml");
    }
</body>
</html>
<script src="~/Assets/media/js/jquery-3.4.1.min.js"></script>
<script src="~/Assets/media/js/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/5d3f9f4ac6.js" crossorigin="anonymous"></script>
<script src="~/Assets/js/user-info.js"></script>

<script>
    $("#congty-thixa").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenDD))
    });
</script>
@RenderSection("js", required: false)
