@{

    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link href="~/Assets/css/pages/user-info.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/header.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/footer.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <title>Personal Page</title>
</head>
<body>
    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/header.cshtml");
    }
    <main>
        <div id="user-infomation">
            <div class="container">
                <div class="user-info-title">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="user-ava">
                                <img src="~/Images/@Profile.anhdd" alt="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="user-description">
                                <div class="user-description-one">
                                    <h1 class="user-name">@Profile.tennguoidung</h1>
                                    <a href="/Client/Personal/ChangeGeneralInfor" title="Chỉnh sửa trang cá nhân" class="user-setting"><button type="button" class="btn btn-outline-primary">Chỉnh sửa trang cá nhân</button></a>
                                    <div class="account-setting">
                                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-cog fa-2x"></i></button></a>
                                    </div>
                                </div>
                                <ul class="user-description-two">
                                    <li>
                                        <span><span>@Profile.soluongbaiviet</span> bài viết</span>
                                    </li>
                                    <li>
                                        <span><span>@Profile.soluongbanbe</span> bạn bè</span>
                                    </li>
                                    <li>
                                        <span>Đang có <span>@Profile.soluongtheodoi</span> người dùng theo dõi</span>
                                    </li>
                                </ul>
                                <div class="user-description-three">
                                    @if (@Profile.bietdanh != null)
                                    {
                                        <h1 class="user-description-three-bietdanh">@Profile.bietdanh.Split('@')[1]</h1>
                                    }
                                    @if (Profile.gioithieu != null)
                                    {
                                        <h1 class="user-description-three-gioithieu">@Profile.gioithieu</h1>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </main>

    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/footer.cshtml");
    }
</body>
</html>
<script src="~/Assets/media/js/jquery-3.4.1.min.js"></script>
<script src="~/Assets/media/js/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/5d3f9f4ac6.js" crossorigin="anonymous"></script>
<script src="~/Assets/js/user-info.js"></script>

<script>
    $("#congty-thixa").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenDD))
    });
    $(".edit-congty-thixa").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenDD))
    });
    $("#congty-ten").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenCT))
    });
    $(".edit-congty-ten").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenCT))
    });

    $(".truonghoc-ten").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenTH))
    });

    function GetCNName() {
        var daihoc = $(".truonghoc-ten").val();
        if (daihoc != "") {
            var formData = new FormData();
            var token = $('input[name="__RequestVerificationToken"]').val();

            formData.append('__RequestVerificationToken', token); //form[0]

            formData.append('school_name', daihoc);

            $.ajax({
                type: 'post',
                url: '/Client/Personal/GetCNName',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    if (response.status == true) {
                        $(".truonghoc-chuyennganh").autocomplete({
                            source: response.data
                        });
                    }
                }
            });
        }
    }

    $(".edit-truonghoc-ten").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenTH))
    });

    //function GetEditCNName() {
    //    var truonghoc = $(".edit-truonghoc-ten").val();
    //    if (truonghoc != "") {
    //        var formData = new FormData();
    //        var token = $('input[name="__RequestVerificationToken"]').val();

    //        formData.append('__RequestVerificationToken', token); //form[0]

    //        formData.append('school_name', truonghoc);

    //        $.ajax({
    //            type: 'post',
    //            url: '/Client/Personal/GetCNName',
    //            dataType: 'json',
    //            cache: false,
    //            contentType: false,
    //            processData: false,
    //            data: formData,
    //            success: function (response) {
    //                if (response.status == true) {
    //                    $(".edit-truonghoc-chuyennganh").autocomplete({
    //                        source: response.data
    //                    });
    //                }
    //            }
    //        });
    //    }
    //}

    $(".diadiem-ten").autocomplete({
      source: @Html.Raw(Json.Encode(ViewBag.TenDD))
    });

    $("#post-diadiem-data").autocomplete({
        source: @Html.Raw(Json.Encode(ViewBag.TenDD)),
        select: function (event, ui) {
            if ($("#result-diadiem-b").length > 0) {
                $("#result-diadiem-b").empty();
                $("#result-diadiem-b").append(ui.item.value);
            } else {
                $("#result-diadiem").append('tại <b id="result-diadiem-b">' + ui.item.value + '</b>');
            }
            $("#post-diadiem-data").val(ui.item.value);
          return false;
        }
    });



    //function split( val ) {
    //  return val.split( /,\s*/ );
    //}
    //function extractLast( term ) {
    //  return split( term ).pop();
    //}

    var url = window.location.href.split('/');
    var baseUrl = url[0] + '//' + url[2];

    var friends = @Html.Raw(Json.Encode(ViewBag.BanBe));
    var selected_friends = [];

    function DeleteFriendTag(friendId, e) {
        e = e || window.event;
        e.preventDefault();
        $("#friend-tag-" + friendId).remove();

        var item = selected_friends.find(x => x.id === friendId);

        $.each(selected_friends, function (i, el) {
            if (this.id == friendId) {
                selected_friends.splice(i, 1);
            }
        });
        friends.push(item);
        if (selected_friends.length === 0) {
            $("#post-banbe-data").attr('placeholder', 'Cùng với ai ?');
            $("#result-tenbanbe").empty();
        } else {
            $("#result-banbe-" + friendId).remove();
            //$("#result-tenbanbe").html(text.replace('với ,', 'với'));
        }
    }

    $( "#post-banbe-data" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 1,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            friends, request.term ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
          select: function (event, ui) {
              $.each(friends, function (i, el) {
                  if (this.id == ui.item.id) {
                    friends.splice(i, 1);
                  }
              });
              selected_friends.push(ui.item);
              var html = '<div id = "friend-tag-' + ui.item.id + '" class = "friends-tag-span">' +
                  '<span id = "friend-tag-' + ui.item.id + '-name">' + ui.item.value + '</span>' +
                  '<a href = "#" onclick="DeleteFriendTag(' + ui.item.id + ', event)">' +
                  '    <i class="fas fa-times"></i>' +
                  '</a>' +
                  '</div>';
              $("#friends-tag").append(html);
              $("#post-banbe-data").val("");
              $("#post-banbe-data").attr('placeholder', '');
              if ($(".result-banbe-b").length > 0) {
                  $("#result-tenbanbe").append('<span id="result-banbe-' + ui.item.id + '" class="result-banbe-b">, <b>' + ui.item.value + '</b></span>');
              } else {
                  $("#result-tenbanbe").append('với <span id="result-banbe-' + ui.item.id + '" class="result-banbe-b"><b>' + ui.item.value + '</b></span>');
              }
          return false;
        }
      }).autocomplete( "instance" )._renderItem = function (ul, item) {
        return $('<li><div><img src=' + baseUrl + '/Images/' + item.anh_url + '><span>' + item.value + '</span></div></li>').appendTo(ul);
        };
</script>

<script src="~/Assets/javascript/Post.js"></script>
@RenderSection("js", required: false)
