<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link href="~/Assets/css/pages/register-steps.css" rel="stylesheet" />
    
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />*@
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/Assets/media/js/jquery-3.4.1.min.js"></script>
<script src="~/Assets/media/js/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/5d3f9f4ac6.js" crossorigin="anonymous"></script>
<script>
    //Các biến liên quan đến phần bài viết
    var post_locations = @Html.Raw(Json.Encode(ViewBag.TenDD));

    var url = window.location.href.split('/');
    var baseUrl = url[0] + '//' + url[2];

    var friends = @Html.Raw(Json.Encode(ViewBag.BanBe));
    var session_userId =@Html.Raw(Json.Encode(ViewBag.Session_UserId));
</script>
@RenderSection("js", required: false)
