
@{
    ViewBag.Title = "ChangeGeneralInfor";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";
    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
    string ten = ViewBag.Ten;
    string ho = Profile.tennguoidung.Replace(ten, "");

    string thang = Profile.ngaysinh.Month.ToString();
    string ngay = Profile.ngaysinh.Day.ToString();
    if (Profile.ngaysinh.Month < 10)
    {
        thang = "0" + Profile.ngaysinh.Month;
    }
    if (Profile.ngaysinh.Day < 10)
    {
        ngay = "0" + Profile.ngaysinh.Day;
    }
    string birth = Profile.ngaysinh.Year + "-" + thang + "-" + ngay;
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/Index"><i class="fas fa-rss-square"></i><span>Dòng thời gian</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Client/Personal/ChangeGeneralInfor"><i class="far fa-user-circle"></i><span>Giới thiệu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/FriendsInfo"><i class="fas fa-users"></i><span>Bạn bè</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/ImagesInfo"><i class="far fa-images"></i></i><span>Ảnh</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Xem thêm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Client/Personal/SavedInfo">Lưu trữ</a>
            <a class="dropdown-item" href="/Client/Personal/AlbumInfo">Bộ sưu tập</a>
            <a class="dropdown-item" href="/Client/Personal/VideoInfo">Video</a>
        </div>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container active" id="menu2">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/Client/Personal/ChangeGeneralInfor">Cài đặt chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/ChangePassInfo">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/Job_Edu">Công việc và học vấn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/LivingPlace">Những nơi bạn đã sống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/Rela_Fami">Gia đình và các mối quan hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/DetailInfo">Chi tiết về bạn</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="menu2-1">
                <article class="change-profile">
                    <div class="row change-profile-content">
                        <div class="col-md-3">
                            <div class="user-img">
                                @if (Profile.anhdd == "")
                                {
                                    <img src="https://bdh131.files.wordpress.com/2012/10/freeman_defaultblue_bdh.gif" alt="">
                                }
                                else
                                {
                                    <img src="~/Images/@Profile.anhdd" alt="">
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h1 class="user-name">@Profile.tennguoidung</h1>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-profile-modal-1">Thay đổi ảnh đại diện</button>
                        </div>
                        <div class="col-md-3">
                            <label for="suaten">Tên</label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="suaten" value="@ten">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label for="suaho">Họ</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="suaho" value="@ho">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="suaemail">Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="email" class="form-control" id="suaemail" value="@Profile.email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="suasdt">Số điện thoại</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" id="suasdt" value="@Profile.sdt">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="suangaysinh">Ngày sinh</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="date" class="form-control" id="suangaysinh" value="@birth">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="suagioitinh">Giới tính</label>
                        </div>
                        <div class="col-md-3 sua-gioitinh">
                            <div class="form-group">
                                <select class="form-control" id="suagioitinh">
                                    @if (@Profile.gioitinh == "Nam")
                                    {
                                        <option value="Nam" selected>Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    }
                                    else
                                    {
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ" selected>Nữ</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3 button-submit">
                            <button type="button" class="btn btn-light">Cập nhật</button>
                        </div>
                        <div class="col-md-6 button-submit">
                            <button type="button" class="btn btn-primary">Tạm thời vô hiệu hóa tài khoản</button>
                        </div>
                    </div>

                    <!-- Modal 1 -->
                    <div class="modal fade" id="change-profile-modal-1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">Cập nhật ảnh đại diện</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    @*<button type="button" class="btn btn-outline-dark btn-block show-modal-avatar" data-toggle="modal" data-target="#change-profile-modal-2"><i class="fas fa-cross"></i>Tải ảnh lên</button>*@
                                    <input type="file" name="avatar" id="change-profile-file" accept="image/*" onchange="cropAvaFunc(event)" />
                                    <label for="change-profile-file" class="btn btn-outline-dark btn-block"><i class="fas fa-cross"></i>Tải ảnh lên</label>
                                    <h6>Ảnh được đề xuất</h6>
                                    <div class="offered-images-list">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="offered-images-item">
                                                    <img src="https://instagram.fhan2-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90342935_524370701788100_770503410475007716_n.jpg?_nc_ht=instagram.fhan2-4.fna.fbcdn.net&_nc_cat=1&_nc_ohc=SjDjD6cBONoAX-O3nt6&oh=526ec442c408837a110727d7d06bc60a&oe=5EA5CEC3" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <p>Xem thêm</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal 2 -->
                    <div class="modal fade" id="change-profile-modal-2" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">Tạo ảnh đại diện</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textarea-mota" placeholder="Thêm mô tả..."></textarea>

                                        <div class="result" id="inputImg">
                                        </div>

                                        <div id="slider" class="ep-slider-bar"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="submit" class="btn btn-info" id="avatar-saved">Lưu</button>
                                        <button type="button" class="btn btn-danger" id="avatar-cancel">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tab-pane container fade" id="menu2-2">...</div>
            <div class="tab-pane container fade" id="menu2-3">...</div>
            <div class="tab-pane container fade" id="menu2-4">...</div>
            <div class="tab-pane container fade" id="menu2-5">...</div>
            <div class="tab-pane container fade" id="menu2-6">...</div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container fade" id="menu4">...</div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>
