
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";
    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
    var Posts = (List<Model.Models.GetPostModel>)ViewBag.BaiViet;
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/Client/Personal/Index"><i class="fas fa-rss-square"></i><span>Dòng thời gian</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/ChangeGeneralInfor"><i class="far fa-user-circle"></i><span>Giới thiệu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/FriendsInfo"><i class="fas fa-users"></i><span>Bạn bè</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/ImagesInfo"><i class="far fa-images"></i></i><span>Ảnh</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Xem thêm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Client/Personal/SavedInfo">Lưu trữ</a>
            <a class="dropdown-item" href="/Client/Personal/AlbumInfo">Bộ sưu tập</a>
            <a class="dropdown-item" href="/Client/Personal/VideoInfo">Video</a>
        </div>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="menu1">
        <div class="row">
            <div class="col-md-4">
                <div class="user-description">
                    <div class="user-description-title">
                        <a href="#" title="Giới thiệu">
                            <i class="fas fa-globe-asia fa-2x"></i>
                            <span>Giới thiệu</span>
                        </a>
                    </div>
                    <div class="user-description-content">
                        @if (Profile.loitrichdan != null)
                        {
                            <p class="user-quote">@Profile.loitrichdan.Split('@')[0]</p>
                        }
                        <div class="user-description-detail">
                            <ul>
                                @if (Profile.congty.Count != 0)
                                {

                                    foreach (var congty in Profile.congty)
                                    {
                                        if (congty.ketthuc < DateTime.Now)
                                        {
                                            <li><i class="fas fa-briefcase"></i><span>Đã làm @congty.chucvu tại <b>@congty.tencongty</b></span></li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-briefcase"></i><span>Đang làm @congty.chucvu tại <b>@congty.tencongty</b></span></li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li><i class="fas fa-briefcase"></i><a href="/Client/Personal/Job_Edu">Nơi làm việc</a></li>
                                }
                                @if (Profile.truonghoc.Count != 0)
                                {
                                    foreach (var truonghoc in Profile.truonghoc)
                                    {
                                        if (truonghoc.totnghiep)
                                        {
                                            <li><i class="fas fa-graduation-cap"></i><span>Đã học @truonghoc.chuyennganh tại <b>@truonghoc.tentruonghoc</b></span></li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-graduation-cap"></i><span>Đang học @truonghoc.chuyennganh tại <b>@truonghoc.tentruonghoc</b></span></li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li><i class="fas fa-graduation-cap"></i><a href="/Client/Personal/Job_Edu">Trường học</a></li>
                                }

                                @if (Profile.diadiem.Count != 0)
                                {

                                    foreach (var diadiem in Profile.diadiem)
                                    {
                                        if (diadiem.loaidiadiem == 0)
                                        {
                                            <li><i class="fas fa-home"></i><span>Đang sống tại <b>@diadiem.tendd</b></span></li>
                                        }
                                        else if (diadiem.loaidiadiem == 1)
                                        {
                                            <li><i class="fas fa-map-marker-alt"></i><span>Đến từ <b>@diadiem.tendd</b></span></li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li><i class="fas fa-map-marker-alt"></i><a href="/Client/Personal/LivingPlace">Quê quán</a></li>
                                }
                                <li><i class="far fa-clock"></i><span>Tham gia ngày @Profile.ngaybatdau.Day tháng @Profile.ngaybatdau.Month năm @Profile.ngaybatdau.Year</span></li>
                                @if (Profile.moiquanhe != null)
                                {
                                    <li><i class="far fa-heart"></i><span>@Profile.moiquanhe.moiquanhe với <b>@Profile.moiquanhe.ten</b></span></li>
                                }
                                else
                                {
                                    <li><i class="far fa-heart"></i><span>Độc thân</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="user-images">
                    <div class="user-images-title">
                        <a href="#" title="Ảnh">
                            <i class="fas fa-camera-retro fa-2x"></i>
                            <span>Ảnh</span>
                        </a>
                    </div>
                    <div class="user-images-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="user-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="user-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="user-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-friends">
                    <div class="user-friends-title">
                        <a href="#" title="Bạn bè">
                            <i class="fas fa-user-friends fa-2x"></i>
                            <span>Bạn bè</span>
                        </a>
                    </div>
                    <div class="user-friends-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-friend-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                                <a href="#" title="Phong Con">Phong Con</a>
                            </div>
                            <div class="col-md-4">
                                <div class="user-friend-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                                <a href="#" title="Dũng Trọc">Dũng Trọc</a>
                            </div>
                            <div class="col-md-4">
                                <div class="user-friend-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                                <a href="#" title="Thông Mặt Sẹo">Thông Mặt Sẹo</a>
                            </div>
                            <div class="col-md-4">
                                <div class="user-friend-image">
                                    <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                </div>
                                <a href="#" title="Long Uchiha">Long Uchiha</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="user-newsfeed">
                    <article class="add-post-box card">
                        @Html.AntiForgeryToken()
                        <div class="card-header">
                            <h3><i class="fas fa-pencil-alt"></i>Tạo bài viết</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-body-content">
                                <div class="user-ava">
                                    <img src="~/Images/@Profile.anhdd" alt="" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="post-content" placeholder="Thêm bình luận..." oninput="auto_grow(this)"></textarea>
                                </div>
                            </div>
                            <div class="card-body-result">
                                <p class="card-body-result-text"><span id="result-tenbanbe"></span><span id="result-diadiem"></span></p>
                                <div class="card-body-result-img">
                                    <label for="tools-img" class="tools-item" id="post-anh-default"><img src="/Images/default-adding-post.png" alt="" /></label>
                                </div>
                            </div>
                            <div class="input-group card-body-input post-diadiem">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                                </div>
                                <input type="text" class="form-control" id="post-diadiem-data" placeholder="Bạn đang ở đâu ?">
                            </div>
                            <div class="input-group card-body-input post-ganthe">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <div id="friends-tag">

                                </div>
                                <input type="text" class="form-control" id="post-banbe-data" placeholder="Cùng với ai ?">
                            </div>
                            <div class="input-group card-body-input post-chude">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-filter"></i></div>
                                </div>
                                <input type="text" class="form-control" id="" placeholder="Chủ đề bài viết ?">
                            </div>

                        </div>
                        <div class="card-body-tools">
                            <input type="file" name="images" id="tools-img" accept="image/*" onchange="readURL(this);" multiple />
                            <label for="tools-img" class="tools-item">Ảnh/Video</label>
                            <span class="tools-item show-post-ganthe" onclick="ShowPostTools(0)">Gắn thẻ bạn bè</span>
                            <span class="tools-item show-post-diadiem" onclick="ShowPostTools(1)">Check in</span>
                            @*<span class="tools-item show-post-chude" onclick="ShowPostTools(2)" disabled>Chủ đề</span>*@
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <select class="form-control" id="post-baomat-data">
                                    <option selected value="0">Công khai</option>
                                    <option value="2">Bạn bè</option>
                                    <option value="3">Chỉ mình tôi</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" onclick="AddPost()">
                                Đăng
                            </button>
                        </div>
                    </article>
                    @foreach (var post in Posts)
                    {
                        <article class="post-box post-@post.id">
                            <header class="post-title">
                                <div class="user-avatar">
                                    <img src="/Images/@post.avatarnguoidang" alt="">
                                </div>
                                <a href="#" title="">@post.tennguoidang</a>
                                @if (post.ganthe.Count != 0)
                                {
                                    <span>
                                        với
                                        @foreach (var ganthe in post.ganthe)
                                        {
                                            <a href="#"><b>@ganthe.ten, </b></a>
                                        }
                                    </span>
                                }
                                @if (post.diadiem != null)
                                {
                                    <span>tại <b>@post.diadiem</b></span>
                                }
                                <div class="dropdown post-tools">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        . . .
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onclick="EditPost(@post.id, event)">Chỉnh sửa bài viết</a>
                                        <a class="dropdown-item" href="#" onclick="DeletePost(@post.id, event)">Xóa bài viết</a>
                                    </div>
                                </div>
                            </header><!-- /header -->
                            <div class="post-content">
                                <p class="post-content-text">@post.noidung</p>
                                @if (post.anh.Count != 0)
                                {
                                    <div class="post-content-image">
                                        @if (post.anh.Count == 1)
                                        {
                                            <img src="/Images/@post.anh[0].anh_url" alt="">
                                        }
                                        else if (post.anh.Count == 2)
                                        {
                                            <div class="row soanh-2">
                                                @foreach (var img in post.anh)
                                                {
                                                    <div class="col-md-6">
                                                        <img src="/Images/@img.anh_url" alt="" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else if (post.anh.Count == 3)
                                        {
                                            <div class="row soanh-3">
                                                <div class="col-md-12">
                                                    <img src="/Images/@post.anh[0].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="/Images/@post.anh[1].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="/Images/@post.anh[2].anh_url" alt="" />
                                                </div>
                                            </div>
                                        }
                                        else if (post.anh.Count == 4)
                                        {
                                            <div class="row soanh-4">
                                                <div class="col-md-12">
                                                    <img src="/Images/@post.anh[0].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[1].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[2].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[3].anh_url" alt="" />
                                                </div>
                                            </div>
                                        }
                                        else if (post.anh.Count == 5)
                                        {
                                            <div class="row soanh-5">
                                                <div class="col-md-6">
                                                    <img src="/Images/@post.anh[0].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="/Images/@post.anh[1].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[2].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[3].anh_url" alt="" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/Images/@post.anh[4].anh_url" alt="" />
                                                </div>
                                            </div>
                                        }
                                        else if (post.anh.Count > 5)
                                        {
                                            <p>Chức năng đang cập nhật</p>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="post-info">
                                <section class="post-icons">
                                    <button type="button" class="btn btn-light post-like-icon" id="post-like-icon-@post.id">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <button type="button" class="btn btn-light"><i class="far fa-comment"></i></button>
                                    <button type="button" class="btn btn-light"><i class="far fa-paper-plane"></i></button>
                                    <button type="button" class="btn btn-light"><i class="far fa-bookmark"></i></button>
                                </section>
                                <section class="list-like">
                                    <button type="button" class="btn btn-light like-count-@post.id">@post.luotthich lượt thích</button>
                                </section>
                                <section class="post-time">
                                    <p>2 giờ trước</p>
                                </section>
                                @if (post.comment.Count > 0)
                                {
                                    <div class="user-comments" id="user-comments-@post.id">
                                        <div id="comment-list-@post.id" class="comment-list">
                                            @foreach (var item in post.comment)
                                            {
                                                <div class="comment-item" id="comment-item-@item.comment_id">
                                                    <div class="comment-item-parent" id="comment-item-parent-@item.comment_id">
                                                        <div class="user-ava">
                                                            <img src="/Images/@item.anhnguoidang" alt="">
                                                        </div>
                                                        <div class="comment-item-detail">
                                                            <h3 class="user-name">@item.tennguoidang</h3>
                                                            <span>@item.noidung</span>
                                                            <div class="comment-item-info">
                                                                <time datetime="2011-01-12" title="12 tháng 9 1945">Chưa làm</time>
                                                                <button type="button" class="btn btn-light">@item.luotthich lượt thích</button>
                                                                <button type="button" class="btn btn-light" onclick="ShowCommentBarChild(@item.comment_id)">Trả lời</button>
                                                            </div>
                                                        </div>
                                                        <div class="comment-item-tool">
                                                            <i class="far fa-heart"></i>
                                                        </div>
                                                    </div>
                                                    @if (item.comment_child.Count > 0)
                                                    {
                                                        <div class="comment-item-childs" id="comment-item-childs-@item.comment_id">
                                                            <button data-toggle="collapse" data-target="#comment-childs-@item.comment_id" class="btn btn-light">Xem câu trả lời (@item.luotbinhluan)</button>
                                                            <div id="comment-childs-@item.comment_id" class="collapse">
                                                                @foreach (var item_child in item.comment_child)
                                                                {
                                                                    <div class="comment-item-child">
                                                                        <div class="user-ava">
                                                                            <img src="/Images/@item_child.anhnguoidang" alt="">
                                                                        </div>
                                                                        <div class="comment-item-detail">
                                                                            <h3 class="user-name">@item_child.tennguoidang</h3>
                                                                            <span>@item_child.noidung</span>
                                                                            <div class="comment-item-info">
                                                                                <time datetime="2011-01-12" title="12 tháng 9 1945">Chưa làm</time>
                                                                                <button type="button" class="btn btn-light">? lượt thích</button>
                                                                                <button type="button" class="btn btn-light" onclick="ShowCommentBarChild(@item_child.parent_id)">Trả lời</button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="comment-item-tool">
                                                                            <i class="far fa-heart"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                    <section class="comment-bar-child" id="comment-bar-child-@item.comment_id">
                                                        <div class="user-ava">
                                                            <img src="/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="Alternate Text" />
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Thêm bình luận..." oninput="auto_grow(this)" id="post-comment-child-content-@item.comment_id"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-light post-comment-child-button" id="post-comment-child-button-@item.comment_id-@item.post_id">Đăng</button>
                                                    </section>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <section class="comment-bar" id="comment-bar-@post.id">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Thêm bình luận..." oninput="auto_grow(this)" id="post-comment-content-@post.id"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-light post-comment-button" id="post-comment-button-@post.id">Đăng</button>
                                </section>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu2">...</div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container fade" id="menu4">...</div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>

