
@{
    ViewBag.Title = "Job_Edu";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";
    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/Index"><i class="fas fa-rss-square"></i><span>Dòng thời gian</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Client/Personal/ChangeGeneralInfor"><i class="far fa-user-circle"></i><span>Giới thiệu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/FriendsInfo"><i class="fas fa-users"></i><span>Bạn bè</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/ImagesInfo"><i class="far fa-images"></i></i><span>Ảnh</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Xem thêm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Client/Personal/SavedInfo">Lưu trữ</a>
            <a class="dropdown-item" href="/Client/Personal/AlbumInfo">Bộ sưu tập</a>
            <a class="dropdown-item" href="/Client/Personal/VideoInfo">Video</a>
        </div>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container active" id="menu2">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/ChangeGeneralInfor">Cài đặt chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/ChangePassInfo">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Client/Personal/Job_Edu">Công việc và học vấn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/LivingPlace">Những nơi bạn đã sống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/Rela_Fami">Gia đình và các mối quan hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/DetailInfo">Chi tiết về bạn</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container fade" id="menu2-1">...</div>
            <div class="tab-pane container fade" id="menu2-2">...</div>
            <div class="tab-pane container active" id="menu2-3">
                <div class="jobs-and-educations">
                    @Html.AntiForgeryToken()
                    <div class="job">
                        <h3>Công việc</h3>
                        <ul class="list-job">
                            @if (Profile.congty.Count != 0)
                            {
                                foreach (var congviec in Profile.congty)
                                {
                                    <li class="list-job-item congty-@congviec.congty_id">
                                        <div class="job-item-thumbnail">
                                            <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                        </div>
                                        <div class="job-item-name">
                                            <p>@congviec.tencongty</p>
                                            @if (congviec.ketthuc == null)
                                            {
                                                <span>@congviec.chucvu @congviec.batdau.Day tháng @congviec.batdau.Month,@congviec.batdau.Year @congviec.tendiadiem</span>
                                            }
                                            else
                                            {
                                                <span>@congviec.chucvu @congviec.batdau.Day tháng @congviec.batdau.Month,@congviec.batdau.Year đến @congviec.ketthuc.Value.Day tháng @congviec.ketthuc.Value.Month,@congviec.ketthuc.Value.Year @congviec.tendiadiem</span>
                                            }
                                        </div>
                                        <div class="job-item-tools">
                                            <i class="far fa-edit" onclick="JobEditing(@congviec.congty_id)" id="show-job-editing-box"></i>
                                            <i class="far fa-trash-alt" onclick="JobRemoving(@congviec.congty_id)" id="remove-job"></i>
                                        </div>
                                    </li>
                                    <div class="job-editing-box congty-@congviec.congty_id-box">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="edit-congty-ten-@congviec.congty_id">Công ty</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="edit-congty-ten-@congviec.congty_id" placeholder="Bạn đã làm việc ở đâu ?">
                                                    <span class="errors" id="check-congty-ten-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-chucvu-@congviec.congty_id">Chức vụ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="edit-congty-chucvu-@congviec.congty_id" placeholder="Chức danh của bạn là gì ?">
                                                    <span class="errors" id="check-congty-chucvu-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-thixa-@congviec.congty_id">Thành phố/Thị xã</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-congty-thixa" id="edit-congty-thixa-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-thixa-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-mota-@congviec.congty_id">Mô tả</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="edit-congty-mota-@congviec.congty_id"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Khoảng thời gian</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="edit-congty-danglamviec-@congviec.congty_id" onchange="Jobketthuc(@congviec.congty_id)">
                                                    <label class="form-check-label" for="edit-congty-danglamviec-@congviec.congty_id">
                                                        Tôi hiện đang làm việc ở đây
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="edit-congty-batdau-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-batdau-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-edit-congty-ketthuc-@congviec.congty_id">
                                                    <input type="date" class="form-control" id="edit-congty-ketthuc-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-ketthuc-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <hr>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select id="edit-congty-baomat-@congviec.congty_id" class="form-control">
                                                        <option selected value="0">Công khai</option>
                                                        <option value="2">Bạn bè</option>
                                                        <option value="3">Chỉ mình tôi</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary" id="save-job-editing-box-@congviec.congty_id" onclick="SubmitEditJobBox(@congviec.congty_id)">Lưu thay đổi</button>
                                                <button type="button" class="btn btn-light" id="close-job-editing-box-@congviec.congty_id" onclick="CloseEditJobBox(@congviec.congty_id)">Hủy</button>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        <button class="btn btn-light job-editing-closse congty-@congviec.congty_id-closse" type="button" onclick="CloseEditJobBox(@congviec.congty_id)"><i class="fas fa-times"></i> Hủy</button>
                                    </div>
                                }

                            }
                        </ul>
                        <div class="job-adding">
                            <button type="button" class="btn btn-light" id="show-job-adding-box"><i class="far fa-plus-square"></i><span>Thêm một nơi làm việc</span></button>
                        </div>
                        <div class="job-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="congty-ten">Công ty</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-ten" placeholder="Bạn đã làm việc ở đâu ?">
                                        <span class="errors" id="check-congty-ten"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-chucvu">Chức vụ</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-chucvu" placeholder="Chức danh của bạn là gì ?">
                                        <span class="errors" id="check-congty-chucvu"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-thixa">Thành phố/Thị xã</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-thixa">
                                        <span class="errors" id="check-congty-thixa"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="congty-mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="congty-danglamviec">
                                        <label class="form-check-label" for="congty-danglamviec">
                                            Tôi hiện đang làm việc ở đây
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="congty-batdau">
                                        <span class="errors" id="check-congty-batdau"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="form-congty-ketthuc">
                                        <input type="date" class="form-control" id="congty-ketthuc">
                                        <span class="errors" id="check-congty-ketthuc"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="congty-baomat" class="form-control">
                                            <option selected value="0">Công khai</option>
                                            <option value="2">Bạn bè</option>
                                            <option value="3">Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" id="save-job-adding-box" onclick="JobAdding()">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-job-adding-box">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light job-closse" type="button" id=""><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                    <div class="university">
                        <h3>Đại học</h3>
                        <ul class="list-university">
                            @foreach (var daihoc in Profile.truonghoc)
                            {
                                if (daihoc.loaitruong == 3)
                                {
                                    if (daihoc.totnghiep)
                                    {

                                        <li class="list-university-item">
                                            <div class="university-item-thumbnail">
                                                <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                            </div>
                                            <div class="university-item-name">
                                                <p>@daihoc.tentruonghoc</p>
                                                <span>Tốt nghiệp @daihoc.ketthuc.Value.Year @daihoc.chuyennganh @daihoc.tendiadiem</span>
                                            </div>
                                            <div class="university-item-tools">
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="list-university-item">
                                            <div class="university-item-thumbnail">
                                                <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                            </div>
                                            <div class="university-item-name">
                                                <p>@daihoc.tentruonghoc</p>
                                                <span>Bắt đầu từ @daihoc.batdau.Day tháng @daihoc.batdau.Month,@daihoc.batdau.Year @daihoc.chuyennganh @daihoc.tendiadiem </span>
                                            </div>
                                            <div class="university-item-tools">
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="university-adding">
                            <button type="button" class="btn btn-light" id="show-university-adding-box"><i class="far fa-plus-square"></i><span>Thêm một trường đại học</span></button>

                        </div>
                        <div class="university-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="daihoc">Trường học</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="daihoc" placeholder="Bạn đã làm việc ở đâu ?">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="daihoc-datotnghiep">
                                        <label class="form-check-label" for="daihoc-datotnghiep">
                                            Đã tốt nghiệp
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Chuyên ngành</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="daihoc-chuyennganh">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="daihoc-baomat" class="form-control">
                                            <option selected>Công khai</option>
                                            <option>Bạn bè</option>
                                            <option>Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-university-adding-box">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light university-closse" type="button" id=""><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                    <div class="highschool">
                        <h3>Trường trung học</h3>
                        <ul class="list-highschool">
                            @foreach (var trunghoc in Profile.truonghoc)
                            {
                                if (trunghoc.loaitruong == 2)
                                {
                                    if (trunghoc.totnghiep)
                                    {
                                        <li class="list-highschool-item">
                                            <div class="highschool-item-thumbnail">
                                                <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                            </div>
                                            <div class="highschool-item-name">
                                                <p>@trunghoc.tentruonghoc</p>
                                                <span>Khóa @trunghoc.ketthuc.Value.Year @trunghoc.tendiadiem</span>
                                            </div>
                                            <div class="highschool-item-tools">
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-highschool-item">
                                            <div class="highschool-item-thumbnail">
                                                <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                            </div>
                                            <div class="highschool-item-name">
                                                <p>@trunghoc.tentruonghoc</p>
                                                <span>Bắt đầu từ @trunghoc.batdau.Day tháng @trunghoc.batdau.Month, @trunghoc.batdau.Year @trunghoc.tendiadiem</span>
                                            </div>
                                            <div class="highschool-item-tools">
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="highschool-adding">
                            <button type="button" class="btn btn-light" id="show-highschool-adding-box"><i class="far fa-plus-square"></i><span>Thêm một trường trung học</span></button>

                        </div>

                        <div class="highschool-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="truongtrunghoc">Trường học</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="truongtrunghoc" placeholder="Bạn đã làm việc ở đâu ?">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="truongtrunghoc-datotnghiep">
                                        <label class="form-check-label" for="truongtrunghoc-datotnghiep">
                                            Đã tốt nghiệp
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="truongtrunghoc-mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="truongtrunghoc-mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="truongtrunghoc-baomat" class="form-control">
                                            <option selected>Công khai</option>
                                            <option>Bạn bè</option>
                                            <option>Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-highschool-adding-box">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light highschool-closse" type="button" id=""><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu2-4">...</div>
            <div class="tab-pane container fade" id="menu2-5">...</div>
            <div class="tab-pane container fade" id="menu2-6">...</div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container fade" id="menu4">...</div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>
