
@{
    ViewBag.Title = "Job_Edu";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";
    var Profile = (Model.Models.GetProfileModel)ViewBag.Profile;
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/Index"><i class="fas fa-rss-square"></i><span>Dòng thời gian</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Client/Personal/ChangeGeneralInfor"><i class="far fa-user-circle"></i><span>Giới thiệu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/FriendsInfo"><i class="fas fa-users"></i><span>Bạn bè</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Client/Personal/ImagesInfo"><i class="far fa-images"></i></i><span>Ảnh</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Xem thêm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Client/Personal/SavedInfo">Lưu trữ</a>
            <a class="dropdown-item" href="/Client/Personal/AlbumInfo">Bộ sưu tập</a>
            <a class="dropdown-item" href="/Client/Personal/VideoInfo">Video</a>
        </div>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container active" id="menu2">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/ChangeGeneralInfor">Cài đặt chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/ChangePassInfo">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Client/Personal/Job_Edu">Công việc và học vấn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/LivingPlace">Những nơi bạn đã sống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/Rela_Fami">Gia đình và các mối quan hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Client/Personal/DetailInfo">Chi tiết về bạn</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container fade" id="menu2-1">...</div>
            <div class="tab-pane container fade" id="menu2-2">...</div>
            <div class="tab-pane container active" id="menu2-3">
                <div class="jobs-and-educations">
                    @Html.AntiForgeryToken()
                    <div class="job">
                        <h3>Công việc</h3>
                        <ul class="list-job">
                            @if (Profile.congty.Count != 0)
                            {
                                foreach (var congviec in Profile.congty)
                                {
                                    <li class="list-job-item congty-@congviec.congty_id">
                                        <div class="job-item-thumbnail">
                                            <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                        </div>
                                        <div class="job-item-name">
                                            <p>@congviec.tencongty</p>
                                            @if (congviec.ketthuc == null)
                                            {
                                                <span>@congviec.chucvu @congviec.batdau.Day tháng @congviec.batdau.Month,@congviec.batdau.Year @congviec.tendiadiem</span>
                                            }
                                            else
                                            {
                                                <span>@congviec.chucvu @congviec.batdau.Day tháng @congviec.batdau.Month,@congviec.batdau.Year đến @congviec.ketthuc.Value.Day tháng @congviec.ketthuc.Value.Month,@congviec.ketthuc.Value.Year @congviec.tendiadiem</span>
                                            }
                                        </div>
                                        <div class="job-item-tools">
                                            <i class="far fa-edit" onclick="JobEditing(@congviec.congty_id)" id="show-job-editing-box"></i>
                                            <i class="far fa-trash-alt" onclick="JobRemoving(@congviec.congty_id)" id="remove-job"></i>
                                        </div>
                                    </li>
                                    <div class="job-editing-box congty-@congviec.congty_id-box">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="edit-congty-ten-@congviec.congty_id">Công ty</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-congty-ten" id="edit-congty-ten-@congviec.congty_id" placeholder="Bạn đã làm việc ở đâu ?">
                                                    <span class="errors" id="check-congty-ten-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-chucvu-@congviec.congty_id">Chức vụ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="edit-congty-chucvu-@congviec.congty_id" placeholder="Chức danh của bạn là gì ?">
                                                    <span class="errors" id="check-congty-chucvu-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-thixa-@congviec.congty_id">Thành phố/Thị xã</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-congty-thixa" id="edit-congty-thixa-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-thixa-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-congty-mota-@congviec.congty_id">Mô tả</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="edit-congty-mota-@congviec.congty_id"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Khoảng thời gian</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="edit-congty-danglamviec-@congviec.congty_id" onchange="Jobketthuc(@congviec.congty_id)">
                                                    <label class="form-check-label" for="edit-congty-danglamviec-@congviec.congty_id">
                                                        Tôi hiện đang làm việc ở đây
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="edit-congty-batdau-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-batdau-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-edit-congty-ketthuc-@congviec.congty_id">
                                                    <input type="date" class="form-control" id="edit-congty-ketthuc-@congviec.congty_id">
                                                    <span class="errors" id="check-congty-ketthuc-@congviec.congty_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <hr>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select id="edit-congty-baomat-@congviec.congty_id" class="form-control">
                                                        <option selected value="0">Công khai</option>
                                                        <option value="2">Bạn bè</option>
                                                        <option value="3">Chỉ mình tôi</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary" id="save-job-editing-box-@congviec.congty_id" onclick="SubmitEditJobBox(@congviec.congty_id)">Lưu thay đổi</button>
                                                <button type="button" class="btn btn-light" id="close-job-editing-box-@congviec.congty_id" onclick="CloseEditJobBox(@congviec.congty_id)">Hủy</button>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        <button class="btn btn-light job-editing-closse congty-@congviec.congty_id-closse" type="button" onclick="CloseEditJobBox(@congviec.congty_id)"><i class="fas fa-times"></i> Hủy</button>
                                    </div>
                                }

                            }
                        </ul>
                        <div class="job-adding">
                            <button type="button" class="btn btn-light" id="show-job-adding-box"><i class="far fa-plus-square"></i><span>Thêm một nơi làm việc</span></button>
                        </div>
                        <div class="job-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="congty-ten">Công ty</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-ten" placeholder="Bạn đã làm việc ở đâu ?">
                                        <span class="errors" id="check-congty-ten"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-chucvu">Chức vụ</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-chucvu" placeholder="Chức danh của bạn là gì ?">
                                        <span class="errors" id="check-congty-chucvu"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-thixa">Thành phố/Thị xã</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="congty-thixa">
                                        <span class="errors" id="check-congty-thixa"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="congty-mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="congty-mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="congty-danglamviec">
                                        <label class="form-check-label" for="congty-danglamviec">
                                            Tôi hiện đang làm việc ở đây
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="congty-batdau">
                                        <span class="errors" id="check-congty-batdau"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="form-congty-ketthuc">
                                        <input type="date" class="form-control" id="congty-ketthuc">
                                        <span class="errors" id="check-congty-ketthuc"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="congty-baomat" class="form-control">
                                            <option selected value="0">Công khai</option>
                                            <option value="2">Bạn bè</option>
                                            <option value="3">Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" id="save-job-adding-box" onclick="JobAdding()">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-job-adding-box">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light job-closse" type="button" id=""><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                    <div class="university">
                        <h3>Đại học</h3>
                        <ul class="list-university">
                            @foreach (var daihoc in Profile.truonghoc)
                            {
                                if (daihoc.loaitruong == 3)
                                {
                                    <li class="list-university-item truonghoc-@daihoc.truonghoc_id">
                                        <div class="university-item-thumbnail">
                                            <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                        </div>
                                        <div class="university-item-name">
                                            <p>@daihoc.tentruonghoc</p>
                                            @if (daihoc.ketthuc != null)
                                            {
                                                <span>Tốt nghiệp khóa @daihoc.ketthuc.Value.Year @daihoc.chuyennganh</span>
                                            }
                                            else
                                            {
                                                <span>Bắt đầu học từ ngày @daihoc.batdau.Day tháng @daihoc.batdau.Month, @daihoc.batdau.Year  @daihoc.chuyennganh</span>
                                            }
                                        </div>
                                        <div class="university-item-tools">
                                            <i class="far fa-edit" onclick="SchoolEditting(@daihoc.truonghoc_id, 3)" id="show-school-editing-box"></i>
                                            <i class="far fa-trash-alt" onclick="SchoolRemoving(@daihoc.truonghoc_id, 3)" id="remove-school"></i>
                                        </div>
                                    </li>
                                    <div class="school-editing-box truonghoc-@daihoc.truonghoc_id-box">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="edit-truonghoc-ten-@daihoc.truonghoc_id">Trường học</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-truonghoc-ten" id="edit-truonghoc-ten-@daihoc.truonghoc_id" placeholder="Bạn đã học tập ở đâu ?">
                                                    <span class="errors" id="check-truonghoc-ten-@daihoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Khoảng thời gian</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="edit-truonghoc-datotnghiep-@daihoc.truonghoc_id" onclick="Schoolketthuc(@daihoc.truonghoc_id)">
                                                    <label class="form-check-label" for="edit-truonghoc-datotnghiep-@daihoc.truonghoc_id">
                                                        Tôi đang học tập ở đây
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="edit-truonghoc-batdau-@daihoc.truonghoc_id">
                                                    <span class="errors" id="check-truonghoc-batdau-@daihoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-edit-truonghoc-ketthuc-@daihoc.truonghoc_id">
                                                    <input type="date" class="form-control" id="edit-truonghoc-ketthuc-@daihoc.truonghoc_id">
                                                    <span class="errors" id="check-truonghoc-ketthuc-@daihoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-truonghoc-chuyennganh-@daihoc.truonghoc_id">Chuyên ngành</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-truonghoc-chuyennganh" id="edit-truonghoc-chuyennganh-@daihoc.truonghoc_id" onclick="GetEditCNName()">
                                                    <span class="errors" id="check-truonghoc-chuyennganh-@daihoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-truonghoc-mota-@daihoc.truonghoc_id">Mô tả</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="edit-truonghoc-mota-@daihoc.truonghoc_id"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>

                                            <hr>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select id="edit-truonghoc-baomat-@daihoc.truonghoc_id" class="form-control">
                                                        <option selected value="0">Công khai</option>
                                                        <option value="1">Bạn bè</option>
                                                        <option value="2">Chỉ mình tôi</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary" id="save-school-editing-box-@daihoc.truonghoc_id" onclick="SubmitEditSchoolBox(@daihoc.truonghoc_id, 3)">Lưu thay đổi</button>
                                                <button type="button" class="btn btn-light" id="close-school-editing-box-@daihoc.truonghoc_id" onclick="CloseEditSchoolBox(@daihoc.truonghoc_id)">Hủy</button>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        <button class="btn btn-light school-editing-closse truonghoc-@daihoc.truonghoc_id-closse" type="button" onclick="CloseEditSchoolBox(@daihoc.truonghoc_id)"><i class="fas fa-times"></i> Hủy</button>
                                    </div>
                                }
                            }
                        </ul>
                        <div class="truonghoc-loai-3-adding university-adding">
                            <button type="button" class="btn btn-light" id="show-truonghoc-loai-3-adding-box" onclick="ShowSchoolAddingBox(3)" ><i class="far fa-plus-square"></i><span>Thêm một trường đại học</span></button>

                        </div>
                        <div class="truonghoc-loai-3-adding-box university-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="truonghoc-loai-3-ten">Trường học</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control truonghoc-ten" id="truonghoc-loai-3-ten" placeholder="Bạn đã làm việc ở đâu ?">
                                        <span class="errors" id="check-truonghoc-loai-3-ten"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="truonghoc-loai-3-danghoc" onclick="SchoolAddingketthuc(3)">
                                        <label class="form-check-label" for="truonghoc-loai-3-danghoc">
                                            Tôi đang học tập ở đây
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="truonghoc-loai-3-batdau">
                                        <span class="errors" id="check-truonghoc-loai-3-batdau"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="form-truonghoc-loai-3-ketthuc">
                                        <input type="date" class="form-control" id="truonghoc-loai-3-ketthuc">
                                        <span class="errors" id="check-truonghoc-loai-3-ketthuc"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="truonghoc-loai-3-chuyennganh">Chuyên ngành</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control truonghoc-chuyennganh" id="truonghoc-loai-3-chuyennganh" onclick="GetCNName()">
                                        <span class="errors" id="check-truonghoc-loai-3-chuyennganh"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="truonghoc-loai-3-mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="truonghoc-loai-3-mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="truonghoc-loai-3-baomat" class="form-control">
                                            <option selected value="0">Công khai</option>
                                            <option value="1">Bạn bè</option>
                                            <option value="2">Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="SchoolAdding(3)">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-truonghoc-loai-3-adding-box" onclick="CloseSchoolAddingBox(3)">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light university-closse truonghoc-loai-3-closse" type="button" onclick="CloseSchoolAddingBox(3)"><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                    <div class="highschool">
                        <h3>Trường trung học</h3>
                        <ul class="list-highschool">
                            @foreach (var trunghoc in Profile.truonghoc)
                            {
                                if (trunghoc.loaitruong == 2)
                                {
                                    <li class="list-highschool-item truonghoc-@trunghoc.truonghoc_id">
                                        <div class="highschool-item-thumbnail">
                                            <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                                        </div>
                                        <div class="highschool-item-name">
                                            <p>@trunghoc.tentruonghoc</p>
                                            @if (trunghoc.ketthuc != null)
                                            {
                                                <span>Tốt nghiệp @trunghoc.ketthuc.Value.Year</span>
                                            }
                                            else
                                            {
                                                <span>Bắt đầu học từ @trunghoc.batdau.Day tháng @trunghoc.batdau.Month, @trunghoc.batdau.Year</span>
                                            }

                                        </div>
                                        <div class="highschool-item-tools">
                                            <i class="far fa-edit" onclick="SchoolEditting(@trunghoc.truonghoc_id, 2)" id="show-school-editing-box"></i>
                                            <i class="far fa-trash-alt" onclick="SchoolRemoving(@trunghoc.truonghoc_id, 2)" id="remove-school"></i>
                                        </div>
                                    </li>
                                    <div class="school-editing-box truonghoc-@trunghoc.truonghoc_id-box">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="edit-truonghoc-ten-@trunghoc.truonghoc_id">Trường học</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control edit-truonghoc-tena" id="edit-truonghoc-ten-@trunghoc.truonghoc_id" placeholder="Bạn đã học tập ở đâu ?">
                                                    <span class="errors" id="check-truonghoc-ten-@trunghoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Khoảng thời gian</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="edit-truonghoc-datotnghiep-@trunghoc.truonghoc_id" onclick="Schoolketthuc(@trunghoc.truonghoc_id)">
                                                    <label class="form-check-label" for="edit-truonghoc-datotnghiep-@trunghoc.truonghoc_id">
                                                        Tôi đang học tập ở đây
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="edit-truonghoc-batdau-@trunghoc.truonghoc_id">
                                                    <span class="errors" id="check-truonghoc-batdau-@trunghoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-edit-truonghoc-ketthuc-@trunghoc.truonghoc_id">
                                                    <input type="date" class="form-control" id="edit-truonghoc-ketthuc-@trunghoc.truonghoc_id">
                                                    <span class="errors" id="check-truonghoc-ketthuc-@trunghoc.truonghoc_id"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="edit-truonghoc-mota-@trunghoc.truonghoc_id">Mô tả</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="edit-truonghoc-mota-@trunghoc.truonghoc_id"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>

                                            <hr>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select id="edit-truonghoc-baomat-@trunghoc.truonghoc_id" class="form-control">
                                                        <option selected value="0">Công khai</option>
                                                        <option value="1">Bạn bè</option>
                                                        <option value="2">Chỉ mình tôi</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary" id="save-school-editing-box-@trunghoc.truonghoc_id" onclick="SubmitEditSchoolBox(@trunghoc.truonghoc_id, 2)">Lưu thay đổi</button>
                                                <button type="button" class="btn btn-light" id="close-school-editing-box-@trunghoc.truonghoc_id" onclick="CloseEditSchoolBox(@trunghoc.truonghoc_id)">Hủy</button>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        <button class="btn btn-light school-editing-closse truonghoc-@trunghoc.truonghoc_id-closse" type="button" onclick="CloseEditSchoolBox(@trunghoc.truonghoc_id)"><i class="fas fa-times"></i> Hủy</button>
                                    </div>
                                }
                            }
                        </ul>
                        <div class="highschool-adding truonghoc-loai-2-adding">
                            <button type="button" class="btn btn-light" id="show-truonghoc-loai-2-adding-box" onclick="ShowSchoolAddingBox(2)"><i class="far fa-plus-square"></i><span>Thêm một trường trung học</span></button>

                        </div>

                        <div class="highschool-adding-box truonghoc-loai-2-adding-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="truonghoc-loai-2-ten">Trường học</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control truonghoc-ten" id="truonghoc-loai-2-ten" placeholder="Bạn đã làm việc ở đâu ?">
                                        <span class="errors" id="check-truonghoc-loai-2-ten"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="">Khoảng thời gian</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="truonghoc-loai-2-danghoc" onclick="SchoolAddingketthuc(2)">
                                        <label class="form-check-label" for="truonghoc-loai-2-danghoc">
                                            Tôi đang học tập ở đây
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="truonghoc-loai-2-batdau">
                                        <span class="errors" id="check-truonghoc-loai-2-batdau"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="form-truonghoc-loai-2-ketthuc">
                                        <input type="date" class="form-control" id="truonghoc-loai-2-ketthuc">
                                        <span class="errors" id="check-truonghoc-loai-2-ketthuc"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <label for="truonghoc-loai-2-mota">Mô tả</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="truonghoc-loai-2-mota"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="truonghoc-loai-2-baomat" class="form-control">
                                            <option selected value="0">Công khai</option>
                                            <option value="1">Bạn bè</option>
                                            <option value="2">Chỉ mình tôi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="SchoolAdding(2)">Lưu thay đổi</button>
                                    <button type="button" class="btn btn-light" id="close-truonghoc-loai-2-adding-box" onclick="CloseSchoolAddingBox(2)">Hủy</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <button class="btn btn-light highschool-closse truonghoc-loai-2-closse" type="button" onclick="CloseSchoolAddingBox(2)"><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu2-4">...</div>
            <div class="tab-pane container fade" id="menu2-5">...</div>
            <div class="tab-pane container fade" id="menu2-6">...</div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container fade" id="menu4">...</div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>
